<?xml version="1.0" encoding="utf-8"?>
<!--alf-deux backport:
	5a484095f9816f118c5e16c377bd37f77641a279 Update VS solution to manage dependencies with custom nuget packages 
 -->
<packages>
  <package id="AlephOne32" version="1.0.0" targetFramework="native" />
  <package id="AlephOne64" version="1.0.0" targetFramework="native" />
</packages>